* {
    left: 0;
    width: 100%;
    text-align: center;
}

body {
    background-color: #FAEBEF;
    font-family: 'Indie Flower', cursive;

}

#poem-title {
    top: 4%;
    position: relative;
    font-size: 5rem;
    color: #D61160;
}

#poem-body {
    top: 20%;
    font-size: 2rem;
    position: absolute;
    color: #ED91B4;

}

